<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="static/flash3-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://malsup.github.io/jquery.blockUI.js"></script>
    <!--<script src="static/fits.js"></script>-->
    <script src="static/flash3.js"></script>
	    
  </head>
  <body>
    <div id="nav-left">
      <div id="tabs">
	<button id="tabSettings">Settings</button>
	<button id="tabLinks" class="inactive">Links</button>
	<button id="tabHelp" class="inactive">Help</button>
	<button id="tabAbout" class="inactive">About</button>
      </div>
      <div id="tabSettingsDiv" class="tabBody">

	<div class="row">
	  <label title="Equatorial, decimal degrees or hms/dms (e.g., 12.3 45.6, 1 2 3.0 4 5 6.0, 1h2m3.0s 4d5m6.0s)" for="locInput">Right ascension and declination</label>
	</div>
	<div class="row">
          <input type="text" class="resetters" id="locInput">
        </div>
	
        <div class="row">
          <input type="text" class="resetters" id="sizeInput" value="60">
          <label for="sizeInput" style="display: inline;">Field of View (arcseconds)</label>
        </div>
	
        <div class="row" id="bandRow">
          <select class="resetters" id="bandInput">
            <option value=1>W1</option>
            <option select="selected" value=2>W2</option>
            <option value=3>W1+W2</option>
          </select>
	  <label for="bandInput" style="display: inline;">Band[s] </label>
        </div>

	<div class="buttonRow">
	  <button id="setDefaultsButton" class="fullButt">Apply defaults</button>
	</div>

	<div id="mainSliders">
          <div class="sliderrow" id="windowRow">
            <label title="Changes the width of the sliding window used for coadding time-resolved coadds. For example, width of 1.0yr adds, for each time-resolved coadd, all other coadds within 1.0yr" for="windowValue">Sliding window (<span id="windowValue"></span> yrs)</label>
	    <div id="windowInput"></div>
          </div>
	  
          <div class="sliderrow">	    
            <label title="Changes interval of the blink animation. Lower interval = faster blink" for="speedValue">Blink interval (<span id="speedValue"></span> ms)</label>
	    <div id="speedInput"></div>
          </div>
	  
          <div class="sliderrow">
            <label title="Scale all images on the page" for="zoomValue">Zoom (<span id="zoomValue"></span>)</label>
            <div id="zoomInput"></div>
          </div>
	</div>
	  
	<div class="subsettings">
	  <div class="sliderrow" id="trimbrightRow">
            <label title="Minimum and maximum pixel values after all coaddition/subtraction and before stretching" for="trimbrightValue">Min - max pixel values: <span id="trimbrightValue"></span></label>
	    <div id="trimbrightInput"></div>
          </div>
	  
          <div class="sliderrow" id="linearRow">
            <label title="Changes the arcsinh based stretch to more linear (1.0) or log-like (0.0)" for="linearValue">Stretch Linearity (<span id="linearValue"></span>)</label>
	    <div id="linearInput"></div>
          </div>
	</div>	

	<div id="advSettings">
          <div class="row">
            <input type="checkbox" class="resetters" id="invertInput" checked>
            <label title="Invert pixel values (255 - value) before creating final images in animation" for="invertInput" style="display: inline;">Invert pixel values</label>
          </div>
	  
          <div class="row">
            <input type="checkbox" class="resetters" id="maxdyrInput" checked>
            <label title="Set min and max frame intensity to the min and max pixel values after clipping. This maximizes dynamic range, but makes image intensities inconsistent across coordinates and settings." for="maxdyrInput" style="display: inline;">Maximize dynamic range</label>
          </div>
	  
          <div class="row">
            <input type="checkbox" class="resetters" id="scandirInput" checked>
            <label title="Separate coadds from one or the other scan direction and show the two animations sequentially. This is useful for visualizing objects that only appear in one scan direction, such as real objects with high parallax and some artifacts" for="scandirInput" style="display: inline;">Separate scan directions</label>
          </div>
	  
          <div class="row">
            <input type="checkbox" class="resetters" id="neowiseOnlyInput" checked>
            <label title="Remove all pre NEOWISE images from coaddition"  for="neowiseOnlyInput" style="display: inline;">Use only NEOWISE imagery</label>
          </div>
          <div class="row">
            <input type="checkbox" class="resetters" id="outerEpochsInput" checked>
            <label title="Only show the first and last images in the blink animation"  for="outerEpochsInput" style="display: inline;">Skip middle epochs</label>
          </div>
          <div class="row">
            <input type="checkbox" class="resetters" id="uniqueWindowInput" checked>
            <label title="Don't show coadds that are identical to previous coadds. This creates more consistent animations" for="uniqueWindowsInput" style="display: inline;">Skip duplicate windows</label>
          </div>
          <div class="row">
            <input type="checkbox" class="resetters" id="smoothScanInput" checked>
            <label title="Smooth cutouts to negate scan direction dependent PSF features" for="smoothScanInput" style="display: inline;">Smooth by scan direction</label>
          </div>
          <div class="row">
            <input type="checkbox" class="urlers" id="borderInput" checked>
            <label title="Highlight when the animation restarts by bordering the first coadd with a white checked line" for="borderInput" style="display: inline;">Border epoch 0</label>
          </div>
          <div class="row">
            <input type="checkbox" class="urlers" id="gaiaInput">
            <label title="Overlay Gaia eDR3 catalog detections" for="gaiaInput" style="display: inline;">Gaia eDR3 overlay</label>
          </div>
	  
	  <div class="subsettings">
	    <div class="row">
	      <input type="checkbox" class="resetters" id="diffInput" checked>
	      <label title="Subtract all coadds outside of the sliding window from coadds within the sliding window. This, for each time-resolved coadd, adds together everything in the window into one image A, adds together everything outside the window into one image B, then subtracts A-B" for="diffInput" style="display: inline;">Difference imaging</label>
            </div>
	    <div class="sliderrow" id="diffWindowRow" style="display: none">
	      <label title="Exclude a window around the target epoch from subtraction" for="windowValue">Exclusion window (<span id="diffWindowValue"></span> yrs)</label>
	      <div id="diffWindowInput"></div>
            </div>
	  </div>

	  <div class="subsettings">
            <div class="row">
	      <input type="checkbox" class="resetters" id="shiftInput">
	      <label title="Shift images before adding them together to correct for motion" for="shiftInput" style="display: inline;">Shift and add</label>
            </div>
            <div class="row" id="pmraDiv" style="display: none">
	      <input type="text" class="resetters" id="pmraInput">
	      <label title="Amount to shift in RA" for="pmraInput" style="display: inline;">pmra (mas/yr)</label>
            </div>
            <div class="row" id="pmdecDiv" style="display: none">
              <div>
		<input type="text" class="resetters" id="pmdecInput">
		<label title="Amount to shift in Dec" for="pmdecInput" style="display: inline;">pmdec (mas/yr)</label>
              </div>
            </div>
	  </div>

	  <div class="subsettings">
            <div class="row">
	      <input type="checkbox" class="resetters" id="synthAInput">
	      <label title="Project a synthetic object" for="synthAInput" style="display: inline;">Synthetic Object</label>
            </div>
            <div class="row" id="synthASubDiv" style="display: none">
	      <input type="checkbox" class="resetters" id="synthASubInput">
	      <label title="Subtract, instead of add, the object" for="synthASubInput" style="display: inline;">Subtraction</label>
            </div>
            <div class="row" id="synthARaDiv" style="display: none">
	      <input type="text" class="resetters" id="synthARaInput">
	      <label title="Position of synth at given MJD" for="synthARaInput" style="display: inline;">RA</label>
            </div>
            <div class="row" id="synthADecDiv" style="display: none">
	      <input type="text" class="resetters" id="synthADecInput">
	      <label title="Position of synth at given MJD" for="synthADecInput" style="display: inline;">Dec</label>
            </div>
            <div class="row" id="synthAW1Div" style="display: none">
	      <input type="text" class="resetters" id="synthAW1Input">
	      <label title="W1 magnitude" for="synthAW1Input" style="display: inline;">W1 magnitude</label>
            </div>
            <div class="row" id="synthAW2Div" style="display: none">
	      <input type="text" class="resetters" id="synthAW2Input">
	      <label title="W2 magnitude" for="synthAW2Input" style="display: inline;">W2 magnitude</label>
            </div>
            <div class="row" id="synthAPmraDiv" style="display: none">
	      <input type="text" class="resetters" id="synthAPmraInput">
	      <label title="Amount to shift in RA" for="synthAPmraInput" style="display: inline;">pmra (mas/yr)</label>
            </div>
            <div class="row" id="synthAPmdecDiv" style="display: none">
		<input type="text" class="resetters" id="synthAPmdecInput">
		<label title="Amount to shift in Dec" for="synthAPmdecInput" style="display: inline;">pmdec (mas/yr)</label>
            </div>
            <div class="row" id="synthAMjdDiv" style="display: none">
		<input type="text" class="resetters" id="synthAMjdInput">
		<label title="MJD when object is at RA/Dec" for="synthAMjdInput" style="display: inline;">Reference MJD</label>
            </div>
	  </div>

	  <div class="subsettings">
            <div class="row">
	      <input type="checkbox" class="resetters" id="synthBInput">
	      <label title="Project a synthetic object" for="synthBInput" style="display: inline;">Synthetic Object</label>
            </div>
            <div class="row" id="synthBSubDiv" style="display: none">
	      <input type="checkbox" class="resetters" id="synthBSubInput">
	      <label title="Subtract, instead of add, the object" for="synthBSubInput" style="display: inline;">Subtraction</label>
            </div>
            <div class="row" id="synthBRaDiv" style="display: none">
	      <input type="text" class="resetters" id="synthBRaInput">
	      <label title="Position of synth at given MJD" for="synthBRaInput" style="display: inline;">RA</label>
            </div>
            <div class="row" id="synthBDecDiv" style="display: none">
	      <input type="text" class="resetters" id="synthBDecInput">
	      <label title="Position of synth at given MJD" for="synthBDecInput" style="display: inline;">Dec</label>
            </div>
            <div class="row" id="synthBW1Div" style="display: none">
	      <input type="text" class="resetters" id="synthBW1Input">
	      <label title="W1 magnitude" for="synthBW1Input" style="display: inline;">W1 magnitude</label>
            </div>
            <div class="row" id="synthBW2Div" style="display: none">
	      <input type="text" class="resetters" id="synthBW2Input">
	      <label title="W2 magnitude" for="synthBW2Input" style="display: inline;">W2 magnitude</label>
            </div>
            <div class="row" id="synthBPmraDiv" style="display: none">
	      <input type="text" class="resetters" id="synthBPmraInput">
	      <label title="Amount to shift in RA" for="synthBPmraInput" style="display: inline;">pmra (mas/yr)</label>
            </div>
            <div class="row" id="synthBPmdecDiv" style="display: none">
		<input type="text" class="resetters" id="synthBPmdecInput">
		<label title="Amount to shift in Dec" for="synthBPmdecInput" style="display: inline;">pmdec (mas/yr)</label>
            </div>
            <div class="row" id="synthBMjdDiv" style="display: none">
		<input type="text" class="resetters" id="synthBMjdInput">
		<label title="MJD when object is at RA/Dec" for="synthBMjdInput" style="display: inline;">Reference MJD</label>
            </div>
	  </div>
	</div>

	<div class="buttonRow">
	  <button id="setPPBrightButton" class="weakButt">Plane party bright</button>
	  <button id="setPPFaintButton" class="weakButt">Plane party faint</button>
	</div>
	<div><p><i>Wiseview is tested on Chrome, and has known issues in Edge and IE</i></p></div>
      </div>
      
      <div id="tabLinksDiv" class="tabBody" hidden>
        <div class="row">
          <a id="legacySurvey" target="_blank" href="http://legacysurvey.org/viewer#NGC%203413">LegacySurvey Sky Viewer</a>
          <a id="simbad" target="_blank" href="http://simbad.u-strasbg.fr/simbad/sim-fcoo">Simbad</a>
          <a id="vizier" target="_blank" href="http://vizier.u-strasbg.fr/viz-bin/VizieR">Vizier</a>
          <label for="zooiSubjects">Nearest Zooniverse Subjects:</label>
          <p style="margin: 0px; padding: 0px;" id="zooiSubjects">...</p>
        </div>
      </div>

      <div id="tabHelpDiv" class="tabBody" hidden>
	<p></p>
	<h1>Help</h1>
	<p>See our <a href="https://www.youtube.com/watch?v=23hXbfh1_aA">tutorial video for Wiseview-V1</a> by Guillaume Colin. V1 Cheat Sheet down below.</p>
	<p>Wiseview is designed for quick visualization of moving objects in unWISE images. It is built for Chrome, and may have Surprise Bugs in other browsers.</p>
	<p>To get started, enter your coordinates, in either degrees decimal or sexegesiaml h:m:s d:m:s format, into the top text bar. Sexegesimal coordinates may be separated by colons (1:2:3.45), spaces (1 2 3.45), or letter designators (1h2m3.45s).</p>
	<p>Choose how large of an image (<b><i>Field of view</i></b>) to display, in arcseconds. The image can be scaled up or down with the <b><i>Zoom</i></b> slider, and the animation made faster by reducing the <b><i>Blink interval</i></b> slider. Wiseview can display either the W1 or W2 bands in greyscal, or W1+W2 in a colored image where red gets W2, blue gets W1, and green gets the average of W1 and W2.</p>
	<p>The plusses, minuses, and periods (+, -, .) between the sidebar and the unWISE images are the <b><i>epoch legend</i></b>. They show which epochs are added (+), subtracted (-), or not used (.) in the current frame. A <b><i>dashed border</i></b> appears whenever the animation resets to help visually distinguish when moving objects are truly moving in a consistent direction, and not hopping back halfway through the animation. The dashed border may be disabled in advanced settings.</p>
	<p><b><i>Click on the image to move</i></b>. Click and drag to open a new tab with a different field of view. Hold down the control key (Windows) or command key (Mac) to open tabs in the background with Chrome. New tabs can also be used to get coordinates when there are multiple interesting areas within a large field of view.</p>
	<p id="cheatSheet">
	  <table>
	    <tr><th>V1 Mode</th><th>V2 Equivalent Settings</th></tr>
	    <tr><td></td><td>Check "Invert pixel values" and "Skip duplicate windows" (or hit Defaults)</td></tr>
	    <tr><td>time-resolved</td><td>Move Window slider all the way left</td></tr>
	    <tr><td>full-depth</td><td>Move Window slider all the way right (or visit legacysurvey.org/viewer)</td></tr>
	    <tr><td><b>window-*-year</b></td><td><b>Default</b>, move Window slider somewhere in the middle</td></tr>
	    <tr><td>pre-post</td><td>Check "Skip middle epochs"</td></tr>
	    <tr><td>window-*-year-para...</td><td>Check "Separate scan directions"</td></tr>
	    <tr><td>parallax-enhancing</td><td>Check "Separate scan directions" and move the Window slider all the way right</td>
	    <tr><td>swindow-*-year</td><td>Check "Difference imaging"</td></tr>
	    <tr><td>shift-and-add</td><td>Not yet implemented</td></tr>
	    <tr><td>parallax-cancelling-*</td><td>Not implemented</td></tr>
	  </table>
	</p>
      </div>
      <div id="tabAboutDiv" class="tabBody" hidden>
        <h1>About</h1>
        <p style="margin-top: 2px;">Images sourced by <a href="http://unwise.me">unWISE</a>[1,2,3] (top) and <a href="https://panstarrs.stsci.edu/">Pan-STARRS</a> (bottom).</p>
        <p>unWISE images are then stretched with <a href="http://docs.astropy.org/en/stable/api/astropy.visualization.AsinhStretch.html#astropy.visualization.AsinhStretch">astropy.visualization.AsinhStretch</a>, where the "Linear" slider controls the "a" parameter. "Trim Bright" changes the maximum intensity before stretching. In "percent" mode, "Trim Bright" scales to the "Trim Bright" percentile, whereas "fixed" sets an absolute maximum intensity. For example, "percent" with "99.5" caps the intensity to that of the 99.5th percentile pixel, whereas "fixed" with "1000" caps it at 1000. "adapt" attempts to find good minimum and maximum values automatically, and does not take a "Trim Bright" input.</p>
        <p>To replicate legacy wiseview behavior, use either "fixed" or "percent" (instead of legacy "Brighten"), and set "linear" = 1.</p>
        <p>Band W1 and W2 correspond to WISE bands. "Bands W1+W2" displays a color image where W1 is blue and W2 is red.</p>
        <p>This site is authored by Dan Caselden and Paul Westin. For questions, you may contact this gmail address: dancaselden</p>
        <p>[1] unWISE AllWISE: <a href="http://adsabs.harvard.edu/abs/2014AJ....147..108L">http://adsabs.harvard.edu/abs/2014AJ....147..108L</a></p>
        <p>[2] unWISE NEO1: <a href="http://adsabs.harvard.edu/abs/2017AJ....153...38M">http://adsabs.harvard.edu/abs/2017AJ....153...38M</a></p>
        <p>[3] unWISE NEO2: <a href="http://adsabs.harvard.edu/abs/2017arXiv170506746M">http://adsabs.harvard.edu/abs/2017arXiv170506746M</a></p>
      </div>
    </div>

    <div id="epoch-legend">
      <p id="epoch-legend-value"></p>
    </div>
    <div id="image-field">
      <p><i>DEV SERVICE (:8080) PERPETUALLY UNDER CONSTRUCTION</i></p>
      <p id="verValue">Loading...</p>
      <div id="image">
	<div id="border">
          <canvas title="Click and drag to open a new cutout in another tab" id="daCanvas"></canvas>
	  <canvas id="overlayCanvas"></canvas>
	</div>
      </div>
      <a id="pawnstarsLink" href="https://ps1images.stsci.edu/cgi-bin/ps1cutouts" target="_blank">
	<div id="pawnstars"></div>
      </a>
    </div>
    
  </body>
</html>
