<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="static/flash2-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://malsup.github.io/jquery.blockUI.js"></script>
    <script src="static/fits.js"></script>
    <script src="static/flash2.js"></script>
	    
  </head>
  <body>
    <div id="nav-left">
      <div id="tabs">
	<button id="tabSettings">Settings</button>
	<button id="tabLinks" class="inactive">Links</button>
	<button id="tabHelp" class="inactive">Help</button>
	<button id="tabAbout" class="inactive">About</button>
      </div>
      <div id="tabSettingsDiv" class="tabBody">
        <div class="row">
          <label title="Equatorial, decimal degrees or hms/dms (e.g., 12.3 45.6, 1 2 3.0 4 5 6.0, 1h2m3.0s 4d5m6.0s)" for="locInput">Right ascension and declination</label>
          <input type="text" class="resetters" id="locInput">
        </div>
        <div class="row">
          <div>
            <label for="sizeInput" style="display: inline;">Field of View (arcseconds):</label>
            <input type="text" class="resetters" id="sizeInput" value="60">
          </div>
        </div>
        <div class="row">
          <div>
	    <label for="bandInput" style="display: inline;">Band[s]: </label>
            <select class="resetters" id="bandInput">
              <option value=1>W1</option>
              <option select="selected" value=2>W2</option>
              <option value=3>W1+W2</option>
            </select>
          </div>
        </div>
        <div class="sliderrow">
          <div>
            <label title="Changes interval of the blink animation. Lower interval = faster blink" for="speedValue">Blink interval (<span id="speedValue"></span> ms)</label>
	    <div id="speedInput"></div>
          </div>
        </div>
        <div class="sliderrow">
          <div>
            <label title="Scale all images on the page" for="zoomValue">Zoom (<span id="zoomValue"></span>)</label>
            <div id="zoomInput"></div>
          </div>
        </div>

	<div id="weakButtons">
	  <button id="setDefaultsButton" class="weakButt">Apply defaults</button>
	  <button id="setDiffButton" class="weakButt">Difference imaging</button>
	  <button id="setPrePostButton" class="weakButt">Pre vs post</button>
	  <button id="setParallaxEnhancingButton" class="weakButt">Parallax enhancing</button>
	  <button id="setTimeResolvedButton" class="weakButt">Time-resolved</button>
	</div>

        <!--<div class="row" id="pmraRow">
          <div>
            <label for="pmraInput" style="display: inline;">pmra (mas/yr):</label>
            <input type="text" class="resetters" id="pmraInput" value="0">
          </div>
        </div>
        <div class="row" id="pmdecRow">
          <div>
            <label for="pmdecInput" style="display: inline;">pmdec (mas/yr):</label>
            <input type="text" class="resetters" id="pmdecInput" value="0">
          </div>
        </div>-->
	
        <div class="row">
          <div>
            <label for="advInput" style="display: inline;">Show advanced settings</label>
            <input type="checkbox" id="advInput" checked>
          </div>
        </div>
	
	<div id="advSettings" style="display: none">
          <div class="row">
            <div>
              <label title="Sets max pixel value to mean, max diff to 2*mean" for="guessBrightInput" style="display: inline;">Guess best min/max pixel values</label>
              <input type="checkbox" class="resetters" id="guessBrightInput" checked>
            </div>
          </div>
	  <div class="sliderrow" id="trimbrightRow">
            <div>
              <label title="Minimum and maximum pixel values after all coaddition/subtraction and before stretching" for="trimbrightValue">Min - max pixel values: <span id="trimbrightValue"></span></label>
	      <div id="trimbrightInput"></div>
            </div>
          </div>
	  <div class="row">
            <div>
              <label title="Subtract all coadds outside of the sliding window from coadds within the sliding window. This, for each time-resolved coadd, adds together everything in the window into one image A, adds together everything outside the window into one image B, then subtracts A-B" for="diffInput" style="display: inline;">Difference imaging</label>
              <input type="checkbox" class="resetters" id="diffInput" checked>
            </div>
          </div>
          <div class="sliderrow" id="diffbrightRow">
            <div>
              <label title="Min and max pixel values BEFORE image subtraction" for="diffbrightValue">Min - max pixel values: <span id="diffbrightValue"></span></label>
	      <div id="diffbrightInput"></div>
            </div>
          </div>

          <div class="sliderrow">
            <div>
              <label title="Changes the arcsinh based stretch to more linear (1.0) or log-like (0.0)" for="linearValue">Stretch Linearity (<span id="linearValue"></span>)</label>
	      <div id="linearInput"></div>
            </div>
          </div>
          <div class="sliderrow" id="windowRow">
            <div>
              <label title="Changes the width of the sliding window used for coadding time-resolved coadds. For example, width of 1.0yr adds, for each time-resolved coadd, all other coadds within 1.0yr" for="windowValue">Sliding window (<span id="windowValue"></span> yrs)</label>
	      <div id="windowInput"></div>
            </div>
          </div>
          <div class="row">
            <div>
              <label title="Invert pixel values (255 - value) before creating final images in animation" for="invertInput" style="display: inline;">Invert pixel values</label>
              <input type="checkbox" class="resetters" id="invertInput" checked>
            </div>
          </div>
          <div class="row">
            <div>
              <label title="Separate coadds from one or the other scan direction and show the two animations sequentially. This is useful for visualizing objects that only appear in one scan direction, such as real objects with high parallax and some artifacts" for="scandirInput" style="display: inline;">Separate scan directions</label>
              <input type="checkbox" class="resetters" id="scandirInput" checked>
            </div>
          </div>
          <div class="row">
            <div>
              <label title="Remove all pre NEOWISE images from coaddition"  for="neowiseOnlyInput" style="display: inline;">Use only NEOWISE imagery</label>
              <input type="checkbox" class="resetters" id="neowiseOnlyInput" checked>
            </div>
          </div>
          <div class="row">
            <div>
              <label title="Only show the first and last images in the blink animation"  for="outerEpochsInput" style="display: inline;">Skip middle epochs</label>
              <input type="checkbox" class="resetters" id="outerEpochsInput" checked>
            </div>
          </div>
          <div class="row">
            <div>
              <label title="Don't show coadds that are identical to previous coadds. This creates more consistent animations" for="uniqueWindowsInput" style="display: inline;">Skip duplicate windows</label>
              <input type="checkbox" class="resetters" id="uniqueWindowInput" checked>
            </div>
          </div>
          <div class="row">
            <div>
              <label title="Highlight when the animation restarts by bordering the first coadd with a white checked line" for="borderInput" style="display: inline;">Border epoch 0</label>
              <input type="checkbox" class="resetters" id="borderInput" checked>
            </div>
          </div>
	</div>
	<div><p><i>Wiseview is tested on Chrome, and has known issues in Edge and IE</i></p></div>
      </div>
      
      <div id="tabLinksDiv" class="tabBody" hidden>
        <div class="row">
          <a id="legacySurvey" target="_blank" href="http://legacysurvey.org/viewer#NGC%203413">LegacySurvey Sky Viewer</a>
          <label for="zooiSubjects">Nearest Zooniverse Subjects:</label>
          <p style="margin: 0px; padding: 0px;" id="zooiSubjects">...</p>
        </div>
      </div>

      <div id="tabHelpDiv" class="tabBody" hidden>
	<p></p>
	<h1>Help</h1>
	<p>See our <a href="https://www.youtube.com/watch?v=23hXbfh1_aA">tutorial video for Wiseview-V1</a> by Guillaume Colin</p>
	<p>Wiseview is designed for quick visualization of moving objects in unWISE images. It is built for Chrome, and may have Surprise Bugs in other browsers.</p>
	<p>To get started, enter your coordinates, in either degrees decimal or sexegesiaml h:m:s d:m:s format, into the top text bar. Sexegesimal coordinates may be separated by colons (1:2:3.45), spaces (1 2 3.45), or letter designators (1h2m3.45s).</p>
	<p>Choose how large of an image (<b><i>Field of view</i></b>) to display, in arcseconds. The image can be scaled up or down with the <b><i>Zoom</i></b> slider, and the animation made faster by reducing the <b><i>Blink interval</i></b> slider. Wiseview can display either the W1 or W2 bands in greyscal, or W1+W2 in a colored image where red gets W2, blue gets W1, and green gets the average of W1 and W2.</p>
	<p>The plusses, minuses, and periods (+, -, .) between the sidebar and the unWISE images are the <b><i>epoch legend</i></b>. They show which epochs are added (+), subtracted (-), or not used (.) in the current frame. A <b><i>dashed border</i></b> appears whenever the animation resets to help visually distinguish when moving objects are truly moving in a consistent direction, and not hopping back halfway through the animation. The dashed border may be disabled in advanced settings.</p>
	<p><b><i>Click on the image to move</i></b>. Click and drag to open a new tab with a different field of view. Hold down the control key (Windows) or command key (Mac) to open tabs in the background with Chrome. New tabs can also be used to get coordinates when there are multiple interesting areas within a large field of view.</p>
	<p>Buttons on the main sidebar mimick Wiseview-V1 functionality. <b><i>Pre-post</i></b> is useful to maximize the appearance of motion, but can make inconsistenly moving objects appear consistent due to only showing two frames. <b><i>Parallax enhancing</i></b> separates unWISE images into two buckets by season. The effect is to maximize parallax, and is good for examining some artifacts (ghosts, latents) and extremely close candidates like planet 9. <b><i>Time-resolved</i></b> shows exactly one unWISE time-resolved coadd per frame, which can help debugging whether you're looking at a cosmic ray or asteroid that appears only once. <b<i>>Difference imaging</i></b> is good for bright movers in crowded fields. It can make faint objects fainter, so it's best not to use it unless necessary. A good use case is finding new candidates with a really big field of view.</p>
	<p>If none of the preset modes do it for you, enable the advanced settings to directly control pretty much all aspects of image processing.</p>
      </div>
      <div id="tabAboutDiv" class="tabBody" hidden>
        <h1>About</h1>
        <p style="margin-top: 2px;">Images sourced by <a href="http://unwise.me">unWISE</a>[1,2,3] (top) and <a href="https://panstarrs.stsci.edu/">Pan-STARRS</a> (bottom).</p>
        <p>unWISE images are then stretched with <a href="http://docs.astropy.org/en/stable/api/astropy.visualization.AsinhStretch.html#astropy.visualization.AsinhStretch">astropy.visualization.AsinhStretch</a>, where the "Linear" slider controls the "a" parameter. "Trim Bright" changes the maximum intensity before stretching. In "percent" mode, "Trim Bright" scales to the "Trim Bright" percentile, whereas "fixed" sets an absolute maximum intensity. For example, "percent" with "99.5" caps the intensity to that of the 99.5th percentile pixel, whereas "fixed" with "1000" caps it at 1000. "adapt" attempts to find good minimum and maximum values automatically, and does not take a "Trim Bright" input.</p>
        <p>To replicate legacy wiseview behavior, use either "fixed" or "percent" (instead of legacy "Brighten"), and set "linear" = 1.</p>
        <p>Band W1 and W2 correspond to WISE bands. "Bands W1+W2" displays a color image where W1 is blue and W2 is red.</p>
        <p>This site is authored by Dan Caselden and Paul Westin. For questions, you may contact this gmail address: dancaselden</p>
        <p>[1] unWISE AllWISE: <a href="http://adsabs.harvard.edu/abs/2014AJ....147..108L">http://adsabs.harvard.edu/abs/2014AJ....147..108L</a></p>
        <p>[2] unWISE NEO1: <a href="http://adsabs.harvard.edu/abs/2017AJ....153...38M">http://adsabs.harvard.edu/abs/2017AJ....153...38M</a></p>
        <p>[3] unWISE NEO2: <a href="http://adsabs.harvard.edu/abs/2017arXiv170506746M">http://adsabs.harvard.edu/abs/2017arXiv170506746M</a></p>
      </div>
    </div>

    <div id="epoch-legend">
      <p id="epoch-legend-value"></p>
    </div>
    <div id="image-field">
      <p id="verValue">Loading...</p>
      <div id="image">
        <canvas title="Click and drag to open a new cutout in another tab" id="daCanvas" width="100" height="100"></canvas>
      </div>
      <a id="pawnstarsLink" href="https://ps1images.stsci.edu/cgi-bin/ps1cutouts">
	<div id="pawnstars"></div>
      </a>
    </div>
    
  </body>
</html>
